<p>
  <label><%= l(:label_material_show_in_top_menu) %></label>
  <%= hidden_field_tag 'settings[show_in_top_menu]', 0, :id => nil %>
  <%= check_box_tag 'settings[show_in_top_menu]', 1, @settings["show_in_top_menu"].to_i > 0 %>
</p>