<h2><%= l(:label_csv_import) %></h2>

<%= labelled_form_for @importer, :url => {:action => 'create', :project_id => @project}, :html => { :multipart => true, :id => 'import_form'} do |f|  %>
    <%= error_messages_for 'importer' %>
    <div class="box tabular">
      <p><%= f.file_field :file, :label => l(:label_csv_file), :accept => "text/csv" %></p>
      <p>
        <%= f.select :quotes_type, options_for_select([[l(:label_double_quotes), "\""], [l(:label_single_quotes),"'"]]),  :label => :label_quotes_type %>
      </p>
  </div>

  <%= submit_tag l(:button_save) -%>
<% end -%>
