<h2><%= l(:label_material_cycle_edit) %></h2>

<%= labelled_form_for :material_cycle, @material_cycle, :url => {:action => 'update', :id => @material_cycle.id}, :html => { :multipart => true, :method => :put, :id => 'material_cycle_form'} do |f|  %> 
  <%= render :partial => 'form', :locals => {:f => f}  %> 
  <%= submit_tag l(:button_save) -%>
<% end -%>


<% content_for :header_tags do %>
  <%= stylesheet_link_tag :materials, :plugin => 'redmine_materials' %>
<% end %>